In [55]:
import pandas as pd
import sqlalchemy as db

Creating a series in Panda

In [37]:
data = pd.Series([10,20,30,40,50])

In [38]:
data

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [39]:
data = {
    'Name' : ['Sneha', 'Ovin', 'Akshay'],
    'Age' : [37,2,35],
    'City' : ['nasik','vancouver','pune']
}

In [40]:
df.shape

(7978, 21)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7978 entries, 0 to 7977
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Company Name                       7978 non-null   object
 1   ISIN                               2337 non-null   object
 2   LEI                                2972 non-null   object
 3   Near term - Target Status          7977 non-null   object
 4   Near term - Target Classification  4857 non-null   object
 5   Near term - Target Year            4815 non-null   object
 6   Long term - Target Status          735 non-null    object
 7   Long term - Target Classification  745 non-null    object
 8   Long term - Target Year            740 non-null    object
 9   Net-Zero Committed                 7978 non-null   object
 10  Net-Zero Year                      738 non-null    object
 11  Organization Type                  7904 non-null   object
 12  BA1.5                              7978 non-null   object
 13  BA1.5 Date                         2343 non-null   object
 14  Location                           7978 non-null   object
 15  Region                             7978 non-null   object
 16  Sector                             7978 non-null   object
 17  Date                               7943 non-null   object
 18  Target                             4856 non-null   object
 19  Target Classification              4883 non-null   object
 20  Extension                          225 non-null    object
dtypes: object(21)
memory usage: 1.3+ MB

In [42]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7973    False
7974    False
7975    False
7976    False
7977    False
Length: 7978, dtype: bool

Read the SBTi excel file stored at

In [43]:
# xlsx = pd.ExcelFile("/Users/sneha/sbti-dbt/companies-taking-action.xlsx")
# df = pd.read_excel(xlsx)

sbti_csv= pd.read_csv("companies-taking-action.csv")

In [44]:
sbti_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7978 entries, 0 to 7977
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Company Name                       7978 non-null   object
 1   ISIN                               2337 non-null   object
 2   LEI                                2972 non-null   object
 3   Near term - Target Status          7977 non-null   object
 4   Near term - Target Classification  4857 non-null   object
 5   Near term - Target Year            4815 non-null   object
 6   Long term - Target Status          735 non-null    object
 7   Long term - Target Classification  745 non-null    object
 8   Long term - Target Year            740 non-null    object
 9   Net-Zero Committed                 7978 non-null   object
 10  Net-Zero Year                      738 non-null    object
 11  Organization Type                  7904 non-null   object
 12  BA1.5                              7978 non-null   object
 13  BA1.5 Date                         2343 non-null   object
 14  Location                           7978 non-null   object
 15  Region                             7978 non-null   object
 16  Sector                             7978 non-null   object
 17  Date                               7943 non-null   object
 18  Target                             4856 non-null   object
 19  Target Classification              4883 non-null   object
 20  Extension                          225 non-null    object
dtypes: object(21)
memory usage: 1.3+ MB

In [45]:
sbti_csv.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7973    False
7974    False
7975    False
7976    False
7977    False
Length: 7978, dtype: bool

In [46]:
sbti_csv.shape

(7978, 21)

In [47]:
sbti_csv.head()

,Company Name,ISIN,LEI,Near term - Target Status,Near term - Target Classification,Near term - Target Year,Long term - Target Status,Long term - Target Classification,Long term - Target Year,Net-Zero Committed,...,Organization Type,BA1.5,BA1.5 Date,Location,Region,Sector,Date,Target,Target Classification,Extension
0,& Co.,NaN,NaN,Targets Set,1.5°C,2030,NaN,NaN,NaN,No,...,Small or Medium Enterprise,No,NaN,Denmark,Europe,Media,01/01/2024,This target was approved using a streamlined t...,The targets covering greenhouse gas emissions ...,NaN
1,(ACIP) Alexandria Company for Industrial Packages,NaN,NaN,Targets Set,Well-below 2°C,2030,NaN,NaN,NaN,No,...,Small or Medium Enterprise,No,NaN,Egypt,Africa,Containers and Packaging,01/02/2022,This target was approved using a streamlined t...,The targets covering greenhouse gas emissions ...,NaN
2,"10 to 2 Consulting, LLC",NaN,NaN,Targets Set,1.5°C,2030,NaN,NaN,NaN,No,...,Small or Medium Enterprise,No,NaN,United States of America (USA),North America,Professional Services,01/12/2023,This target was approved using a streamlined t...,The targets covering greenhouse gas emissions ...,NaN
3,100 Percent Group Limited,NaN,NaN,Targets Set,1.5°C,2030,NaN,NaN,NaN,No,...,Small or Medium Enterprise,No,NaN,United Kingdom (UK),Europe,"Trading Companies and Distributors, and Commer...",01/07/2023,This target was approved using a streamlined t...,The targets covering greenhouse gas emissions ...,NaN
4,2 Sisters Food Group,NaN,NaN,Committed,NaN,NaN,NaN,NaN,NaN,Yes,...,Company,Yes,01/11/2022,United Kingdom (UK),Europe,Food and Beverage Processing,01/12/2022,NaN,NaN,NaN

In [48]:
sbti_csv.columns

Index(['Company Name', 'ISIN', 'LEI', 'Near term - Target Status',
       'Near term - Target Classification', 'Near term - Target Year',
       'Long term - Target Status', 'Long term - Target Classification',
       'Long term - Target Year', 'Net-Zero Committed', 'Net-Zero Year',
       'Organization Type', 'BA1.5', 'BA1.5 Date', 'Location', 'Region',
       'Sector', 'Date', 'Target', 'Target Classification', 'Extension'],
      dtype='object')

In [68]:
# engine = db.create_engine('postgres://vrlurxip:nxksNBacsonK6uOG8aCadvfDkaS9trXE@bubble.db.elephantsql.com/vrlurxip')

Solve the above error and then use the following command to upload data in DW

customers.to_sql("customers", engine, if_exists='replace', index=False)